
name: CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]
 
jobs:
  
  build:
   
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Build image
        run: docker build -t madamidt0689/portfolio .
      - name: Push image 
        run: |
            docker login -u madamidt0689/portfolio -p ${secrets.REGISTRY_PASS}
            docker push madamidt0689/portfolio
             