name: CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Log in to Docker Hub
        run: echo "${{ secrets.REGISTRY_PASS }}" | docker login -u "${{ secrets.REGISTRY_USER }}" --password-stdin

      - name: Build image
        run: docker build -t ${{ secrets.REGISTRY_USER }}/portfolio .

      - name: Push image
        run: docker push ${{ secrets.REGISTRY_USER }}/portfolio
